.container-about {
  display: inline-block;
  position: relative;
}
.aboutMe {
  background-color: var(--tan);
  display: inline-block;
  position: absolute;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
}

.aboutContent {
  display: inline-block;
  float: left;
  width: 1000px;
  height: 480px;
}

.photoUs {
  display: inline-block;
  width: 300px;
  height: 350px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 65px;
  left: 75px;
}

.leftas {
  display: inline-block;
  width: 45%;
  float: left;
  height: 480px;
  position: relative;
}

.rightas {
  display: inline-block;
  width: 55%;
  float: right;
  height: 480px;
}

.AboutHeadline {
  display: inline-block;
  float: right;
  margin: 60px 25px 15px;
  font-size: 30px;
  font-weight: 640;
}

.aboutParagraph1 {
  display: inline-block;
  margin: 25px;
  font-size: 18px;
  line-height: 26px;
}

.SocialMediaAboutUs {
  margin: 25px;
  font-size: 20px;
  width: 300px;
  margin-left: calc((100% - 300px) / 2);
  text-align: center;
}

.socLink{
  text-decoration: none;
  width: 40px;
  height: 40px;
}

a:hover i {
  transform: rotateY(360deg) rotateZ(-15deg);
  transition: transform 0.5s ease-in;
  color: var(--blood) !important;
}
.socialUS {
  display: inline-block;
  color: var(--light);
  cursor: pointer;
  padding: 0px 10px;
}

.btnAbout {
  margin-left: calc((100% - 200px) / 2);
  text-decoration: none;
  border: 1px white solid;
  padding: 5px 50px;
  color: white;
}

.btnAbout:hover {
  background-color: var(--blood);
}


.slideshow-container {
  display: inline-block;
  width: 300px;
  height: 350px;
  position: absolute;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
