.hero {
    display: grid;
    grid-gap: 20px;
    padding: 0px;
    grid-template-columns: 4fr 4fr;
    justify-items: center;
    align-items: center;
    font-family: Roboto;
}

.heroLeft {
    display:grid;
    grid-template-rows: 1fr 1fr 0.5fr;
    padding-top: 100px;
    justify-self: end;
    color: var(--blood);
}
    h1{
        line-height: 50px;
        font-size: 42px;
    }

    .heroParagraph{
        line-height: 46px;
        font-size: 36px;
        position: relative;
    }
    .heroParagraph::after {
        content: "";
        position: absolute;
        width: 1px;
        height: 44px;
        border-right: solid 1px var(--blood);
        animation: blink 0.8s infinite ease;
    }

    @keyframes blink {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .btn {
        margin-top: 50px;
        align-self: end;
        justify-self: center;
        width: 80px;
        line-height: 24px;
        text-decoration: none;
        color: var(--blood);
        cursor: pointer;
    }

.hero-img {
    padding-top: 80px;
}