.hero {
  display: grid;
  grid-gap: 20px;
  padding: 0px;
  grid-template-columns: 5fr 3fr 3fr;
  justify-items: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;

}

.heroLeft {
  display: grid;
  grid-template-areas:
    "."
    "greetings"
    "h1Hero"
    "animatedParagraph"
    "btn";
  grid-template-rows: 120px 50px 50px 50px 50px;
  padding-top: 50px;
  justify-self: end;
  color: var(--blood);
}
.greetings {
    padding-left: 5px;
    line-height: 40px;
    font-size: 18px;
    position: relative;
    grid-area: greetings;
    align-self: center;
}

h1 {
  line-height: 50px;
  font-size: 50px;
  grid-area: h1Hero;
  align-self: center;
}

.heroParagraph {
  padding-left: 5px;
  line-height: 40px;
  font-size: 24px;
  position: relative;
  grid-area: animatedParagraph;
  align-self: center;
}
.heroParagraph::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 40px;
  border-right: solid 1px var(--light);
  animation: blink 0.8s infinite ease;
}

.hero-img {
  width: 100%;
  height: 600px;
  background-image: url("../img/hero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backface-visibility: hidden;
  animation: slideShow 21s linear infinite 0s;
  animation-timing-function: ease-out;

}

@keyframes slideShow {
  0%, 100% {
    background-image: url("../img/hero.png");
  }
  10% {
    background-image: url("../img/hero.png");
  }
  30% {
    background-image: url("../img/hero4.jpg");
  }
  80% {
    background-image: url("../img/hero3.png");
  }


}


@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.btn {
  margin-top: 180px;
  align-self: center;
  justify-self: center;
  text-align: center;
  width: 280px;
  line-height: 24px;
  text-decoration: none;
  color: var(--blood);
  border: 1px solid var(--blood);
  cursor: pointer;
  grid-area: btn;
}

.btn:hover {
  background-color: var(--blood);
  color: var(--light);
  border-color: white;
}

.hero-img {
  padding-top: 80px;
}
