.container-testimonials {
    display: grid;
    padding: 0px;
    justify-items: center;
    align-items: center;
    grid-template-rows: 1.5fr 4fr 1fr; 
    grid-template-areas: 
    "article"
    "square";
}

.testimonialsArticle {
    display: grid;
    font-size: 32px;
    justify-items: center;
    align-items: center;
    grid-area: article;
}

.testSquare {
display: grid;
grid-area: square;
grid-template-rows: 1fr ;  
grid-template-columns: 1fr 3fr 3fr 1fr;
grid-row-gap: 10px;
grid-column-gap: 50px;
grid-template-areas: 
    ". test1 test2 ."
    ;
    align-self: start;
}

.testimonials1{
    display: grid;
    grid-area: test1;
    grid-template-rows: 1.5fr 1fr 0.5fr;  
}

.testimonials2{
    display: grid;
    grid-area: test2;
    grid-template-rows: 1.5fr 1fr;  
}

.testimonials3{
    grid-area: test3;
}

.testimonials4{
    grid-area: test4;
}

.opinions{
    display: grid;
    align-self: start;
    padding: 10px;
    line-height: 30px;
}

.people {
    display: grid;
    grid-template-rows: 1fr; 
    grid-template-columns: 1fr 4.5fr;
    grid-template-areas: 
    "foto name"
    ;
}

.personID {
    display: grid;
    grid-template-rows: 2fr 2fr; 
    grid-template-columns: 1fr;
    grid-template-areas: 
    "name"
    "position";
}

.personFoto {
    display: grid;
    grid-area: foto;
}

.personName {
    display: grid;
    grid-area: name;
    padding-top: 5px;
    font-size: 16px;
    align-self: center;
}

.personPosition {
    display: grid;
    grid-area: position;
    font-size: 12px;
    align-self: start;
}

.SocialMedia {
    display: grid;
    width: 250px;
    grid-template-columns: 0.3fr 0.3fr 0.3fr;
    grid-template-rows: 1fr;
    justify-items: center;
}
