.container-testimonials {
  display: grid;
  padding: 0px;
  justify-items: center;
  grid-template-rows: 1fr 4fr 1fr;
}

.testimonialsArticle {
  font-size: 32px;
  line-height: 50px;
  align-self: end;
  padding: 50px 0px 10px;
}

.container {
  width: 80%;
  margin: 20px auto;
}
.carousel {
  border-radius: 5px;
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
  height: 250px;
  background: var(--light);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3), 0 5px 15px rgba(215, 206, 199, 0.3);
}
.slider {
  display: flex;
  height: 100%;
  width: 400%;
  flex-shrink: 0;
  transition: all 0s;
}
.slider section {
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 20px;
}

.left,
.right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.arrow i {
  font-size: 40px;
  -webkit-user-select: none;
}
.arrow i:hover {
  font-size: 70px;
  -webkit-user-select: none;
  color: var(--blood);
}

.left {
  left: 10px;
}
.right {
  right: 10px;
}
.control ul {
  list-style: none;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%);
}
.control ul li {
  width: 10px;
  height: 10px;
  background: transparent;
  border: 1px solid #333;
  border-radius: 50px;
  margin: 10px;
  cursor: pointer;
}
.control ul li.selected {
  background: var(--tan);
}

.testimonials1 {
  display: grid;
  width: 80%;
  height: 80%;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "lefty righty "
    "lefty righty"
    "lefty righty";
}

.testleft {
  display: inline-block;
  grid-area: lefty;
  width: 0px;
}

.testLeftSection {
  display: grid;
  grid-template-columns: 100px 30px 80px 40px;
  grid-template-rows: 30px 80px 50px 40px;
  grid-template-areas:
    ". . . ."
    "foto foto name name"
    "foto foto position position"
    "social social social social";
}

.personImage {
  display: grid;
  grid-area: foto;
}

.facePerson {
  display: inline-block;
  height: 100px;
  width: 100px;
  margin: 15px;
}

.personName {
  display: grid;
  grid-area: name;
  align-self: flex-end;
  margin-bottom: 10px;
  font-size: 16px;
}

.personPosition {
  display: grid;
  grid-area: position;
  align-self: flex-start;
  font-size: 14px;
}

.SocialMedia {
  display: inline-block;
  grid-area: social;
  font-size: 32px;
  margin-left: 15px;
}

.socLinkTest{
  text-decoration: none;
  width: 40px;
  height: 40px;
  text-decoration: none;
  color: var(--tan);
}

a:hover i {
  transform: rotateY(360deg) rotateZ(-15deg);
  transition: transform 0.5s ease-in;
  color: var(--blood) !important;
}

.socialTest {
  cursor: pointer;
}

.testright {
  display: grid;
  grid-area: righty;
}

.opinions {
  display: inline-block;
  margin: 10px;
  align-self: center;
  font-style: italic;
  font-size: 18px;
}
